@font-face {
  font-family: 'fate_core_glyphsregular';
  src: url('/fonts/fate_core_font-webfont.woff2') format('woff2'),
          url('/fonts/fate_core_font-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.fate-font
  font-family: 'fate_core_glyphsregular'

.content
  .custom-block-card
    padding: 0.1rem 1.5rem;
    padding-bottom 1rem;
    margin: 1rem 0;
    background-color: #f3f5f7;
    border-color: #1b75bc;
    border-width: 0.06rem
    border-style: dashed

  .custom-block-card-header
    font-weight: 600
    margin-bottom: -0.4rem

  p, li
    text-align justify

  blockquote
    margin 0 !important
    color: #666 !important

